<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--
      <ion-title>
        List
      </ion-title>
    -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <h4>Amount of logs today: {{todayLogs}}</h4>
    </ion-item>
    <ion-item detail="true" detailIcon="arrow-dropdown">
      <ion-label>Logs from</ion-label>
      <ion-datetime #date (ionChange)="getDateLogs(date.value)" placeholder={{thisDay}} display-format="MMM DD, YYYY" min="{{currentDate}}"></ion-datetime>
    </ion-item>
    <ion-item>
      <h4>Amount of logs on {{thisDay}}: {{chosenDateLogs}}</h4>
    </ion-item>
  </ion-list>
</ion-content>